body{
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;;
  width: 100%;
  z-index: 10;
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
}

li:hover {
  color: #DBE9EE;
}


h1{
font-family: 'Londrina Outline', cursive;
font-size: 52px;
color: rgb(250, 190, 254);
}

h2{
font-family: 'Lobster', cursive;
color: black;
}

p{
  font-family: 'Bai Jamjuree', sans-serif;
  color: black;
}
