h1{
font-family: Arial;
color: maroon;
}

h2{
font-family: Times New Roman;
color: yellow;
}

h3{
  font-family: cursive;
  color: grey;

.nav{
  display: inline-block;
  width: 25px;
  color: teal;
}
