h1{
font-family: 'Lobster', cursive;
color: maroon;
}

h2{
font-family: Times New Roman;
color: green;
}

h3{
  font-family: cursive;
  color: grey;
  
.nav{
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
  li {
    color: #666;
}
